.product {
    cursor: pointer;
    height: 100%;
    border-radius: 10px;
    background-color: #fee6fe;
}

.product:hover {
    -webkit-box-shadow: 0px 0px 10px 0px #f320fa;
    -moz-box-shadow: 0px 0px 10px 0px #f320fa;
    box-shadow: 0px 0px 10px 0px #f320fa;
    z-index: 3;
    transition: 0.3s;
}

.product__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 50%;
    padding: 3px;
}

.product__name {
    padding-top: 5px;
    font-size: 12px;
    font-weight: bold;
    color: grey;
}

.product__eta {
    font-size: 10px;
    color: grey;
}

.product_thumbnail {
    height: 55px;
    background-color: white;
    border-radius: 10px;
    border-top: 1px solid lightgrey;
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
}

.product_thumbnail > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
