.vendingMachine {
    height: 100vh;
    margin-bottom: 10px;
}

.space {
    height: 10px;
}

.vendingMachine__header {
    background-color: white;
    border-radius: 10px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.vendingMachine__header > h1 {
    color: #f320fa;
    font-weight: bolder;
}

.vendingMachine__header > p {
    color: #9a75fc;
    font-size: 20px;
    font-weight: bold;
}

.vendingMachine__header__credits {
    padding-top: 5px;
    font-size: 14px !important;
    color: grey !important;
}

.vendingMachine__body {
    margin: 25px;
    display: flex;
}

.vendingMachine__leftPanel {
    background-color: white;
    border-radius: 10px;
    flex: 0.3;
    margin-right: 25px;
    min-height: 300px;
}

.vendingMachine__queue {
    background-color: white;
    border-radius: 10px;
    flex: 0.7;
    min-height: 300px;
}
